{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Taller</title>
  <link href="https://file.myfontastic.com/tVDpHY7aByfG39EWvQxWGC/icons.css" rel="stylesheet">



      <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
  <a href="{% url 'signout' %}">Cerrar sesion</a>
  <section class="photo_container">
  <section class="photo_header">
    <img src="http://via.placeholder.com/60x60" class="photo_user">
    <a href="{% url 'profile' %}"h3 class="photo_username">Username</h3></a>
  </section>
  <section class="photo_image">
    <img src="http://via.placeholder.com/600x700">
  </section>
  <section class="photo_icons">
    <i class="icon-heart-o"></i>
    <i class="icon-comment-o"></i>
    <i class="icon-paperplane"></i>
  </section>
  <h6 class="photo_likes"><span>50551</span> Me gusta</h6>
  <section class="photo_comments">
    <section class="photo_comment">lorem20
    </section><p>
    <input placeholder="Agrega un comentario..." class="photo_add_comment">
    <i class="icon-dot-3"></i>
</section>
    <script  src="js/index.js"></script>

</body>
</html>
