{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  </head>
  <body>
    <center>
    <div class="Creación"
    <hr>


    <form action="signup.html" method="post">
    <input type="text" name=" " placeholder="Correo electrónico"><p>
    <input type="text" name=" " placeholder="nombre completo"><p>
    <input type="text" name=" " placeholder="usuario"><p>
    <input type="Password" name=" " placeholder="Contraseña"><p>

    </div>
    <input type="submit" name=" " value="registrarse"><p>



    </center>
    </form>
  </body>
  </html>
